<html>
  <head>
    <title>Todo list</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="assets/todo-list.js"></script>
  </head>

  <body>
    <h1>My Todo list</h1>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item.." required />
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% for(var i=0; i< todos.length;i++){%>
        <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
